

{{#view "connector"}}



{{/view}}
{{#each peer in peers}}
    <div {{action "edit" person}}>
        click me
        {{peer.pper}}
    </div>
{{/each}}


{{buyan-graph  peerl=model.peers ids=model.ids}}
