

{{#view "connector"}}
  <label for="buyanid">buyanid</label>
  {{input id="buyanid" value=view.randomId}}
  <button id="enterbuyan">enter buyan</button>
  <button id="pullpeersfromserver"> pull peers from server</button>
{{/view}}

{{buyan-graph  peerl=model.peers}}
